<div ng-controller="IzmenaCtrl">
<div class="row">
<form>
	<div class="form-group"">
	<label>Ime i Prezime</label>
	<input class="form-control" ng-model="racun.imePrezime">
	</div>
	
	<div class="form-group">
	<label>Jmbg</label>
	<input class="form-control" ng-model="racun.jmbg">
	</div>
	
	<div class="form-group">
	<label>Broj Racuna</label>
	<input class="form-control" ng-model="racun.brojRacuna">
	</div>
	
	<div class="form-group">
	<label>Stanje</label>
	<input class="form-control" ng-model="racun.stanje">
	</div>
	
	
	<button class="btn btn-secondary" ng-click="uradiIzmenu()">Izmeni</button>
</form>
</div>
</div>
